/*	
	This file defines the default set of CSS styles available in the Rich editor
*/


p.caption {
	font-style: italic;
	color: grey;
}

span.highlight {
	background: yellow;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

html, body {
  height: 100%;
}

/*
 * For CKEditor autocomplete panel 
 */
ul.cke_autocomplete_panel {
        width: 250px;
}

ul.cke_autocomplete_panel .photo {
        display: inline-block;
	vertical-align: middle;
	height: 30px;
	border-radius: 50%;
}

.cke_autocomplete_panel .username {
	padding-left: 5px;
}

.cke_autocomplete_panel .fullname {
	padding-left: 5px;
	color: #b7b7b7;
}
